<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Aprendiendo VueJS</title>
	<style>
		.glyphicon-check, .glyphicon-unchecked{
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="container">
		<div id="app">
			<h1>Lista de tareas</h1>
			<h4 v-if="completedTasks">Tareas completas: {{ completedTasks }}</h4>
			<h4 v-if="incompletedTasks">Tareas incompletas: {{ incompletedTasks }}</h4>
			<ul>
				<li v-for="task in tasks">
					<span v-text="task.title"></span>
					<span @click="task.completed = false" v-if="task.completed" class="glyphicon glyphicon-check"></span>
					<span @click="task.completed = true" v-else class="glyphicon glyphicon-unchecked"></span>
				</li>
				<li class="form-inline">
					<input v-on:keyup.enter="addTask" v-model="newTask" type="text" class="form-control">
				</li>
			</ul>
		</div>
	</div>	
	<script src="https://unpkg.com/vue"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				newTask: "",
				tasks: [
					{title: "Aprender PHP", completed: true},
					{title: "Aprender Laravel", completed: false},
					{title: "Aprender VueJS", completed: false}
				]
			},
			methods: {
				addTask: function(){
					if (this.newTask.length <= 1) return alert('La tarea no puede estar vacía');

					this.tasks.push({
						title: this.newTask,
						completed: false
					});
					this.newTask = "";
				}
			},
			computed: {
				completedTasks: function(){
					console.log('trigger completedTasks');
					return this.tasks.filter(function(task){
						return task.completed;
					}).length;
				},
				incompletedTasks: function(){
					console.log('trigger incompletedTasks');
					return this.tasks.filter(function(task){
						return ! task.completed;
					}).length;
				}
			}
		});
	</script>
</body>
</html>



