<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">
	<title>Aprendiendo VueJS</title>
</head>
<body>
	<div class="container">
		<div id="app">

			<user name="Luis" last-name="García"></user>
			<user name="Jorge"></user>

			<!-- <h1>Lista de tareas</h1>
			<h4 v-if="completedTasks">Tareas completas: {{ completedTasks }}</h4>
			<h4 v-if="incompletedTasks">Tareas incompletas: {{ incompletedTasks }}</h4>
			<ul>
				<li v-for="task in tasks">
					<span v-text="task.title"></span>
					<span @click="completeTask(task)" :class="taskClasses(task)"></span>
				</li>
				<li class="form-inline">
					<input v-on:keyup.enter="addTask" v-model="newTask" type="text" class="form-control">
				</li>
			</ul> -->
		</div>
	</div>	
	<script src="https://unpkg.com/vue"></script>
	<script src="js/app.js"></script>
</body>
</html>



